---
layout: page
title: "BL NHL MLS NBA NFL"
description: "Fußball, Hockey, Soccer, Basketball, Football"
active: gallery
header-img: "https://res.cloudinary.com/dqzz6rb2q/image/upload/c_limit,h_1500,w_1500/v1540675291/sports.5square.de/2018-10-07-san-francisco-49ers-vs-arizona-cardinals/IMG_2488.jpg"
images:
 - image_path: https://res.cloudinary.com/dqzz6rb2q/image/upload/c_limit,w_500/v1539893858/sports.5square.de/2018-10-07-san-francisco-49ers-vs-arizona-cardinals/IMG_2488.jpg
   gallery-folder: /gallery/2018-10-07-san-francisco-49ers-vs-arizona-cardinals/
   gallery-name: San Francisco 49ers vs. Arizona Cardinals
   gallery-date: October 2018
   team-home: San Francisco 49ers
   team-away: Arizona Cardinals
 - image_path: https://res.cloudinary.com/dqzz6rb2q/image/upload/c_limit,w_500/v1539893773/sports.5square.de/2018-10-06-san-jose-earthquakes-vs-red-bull-new-york/IMG_2464.jpg
   gallery-folder: /gallery/2018-10-06-san-jose-earthquakes-vs-red-bull-new-york/
   gallery-name: San Jose Earthquakes vs. Red Bull New York
   gallery-date: October 2018
   team-home: San Jose Earthquakes
   team-away: Red Bull New York
 - image_path: https://res.cloudinary.com/dqzz6rb2q/image/upload/c_limit,w_500/v1541022278/sports.5square.de/2018-01-05-mercedes-benz-junior-cup//IMG_2928.jpg
   gallery-folder: /gallery/2018-01-05-mercedes-benz-junior-cup/
   gallery-name: Mercedes Benz Junior Cup
   team-home: Mercedes Benz Junior Cup
 - image_path: https://res.cloudinary.com/dqzz6rb2q/image/upload/c_limit,w_500/v1509965212/sports.5square.de/2017-10-27-las-vegas-knights-vs-colorado-avalanche/IMG_2743.jpg
   gallery-folder: /gallery/2017-10-27-las-vegas-knights-vs-colorado-avalanche/
   gallery-name: Las Vegas Knights vs. Colorado Avalanche
   gallery-date: October 2017
   team-home: Las Vegas Golden Knights
   team-away: Colorado Avalanche
 - image_path: https://res.cloudinary.com/dqzz6rb2q/image/upload/c_limit,w_500/v1541693222/sports.5square.de/2017-01-12-ottawa-senators-vs-pittsburgh-penguins/IMG_4820.jpg
   gallery-folder: /gallery/2017-01-12-ottawa-senators-vs-pittsburgh-penguins/
   gallery-name: Ottawa Senators vs. Pittsburgh Penguins
   gallery-date: January 2017
   team-home: Ottawa Senators
   team-away: Pittsburgh Penguins
 - image_path: https://res.cloudinary.com/dqzz6rb2q/image/upload/c_limit,w_500/v1541020814/sports.5square.de/2009-11-03-miami-heat-vs-phoenix-suns/1051.jpg
   gallery-folder: /gallery/2009-11-03-miami-heat-vs-phoenix-suns/
   gallery-name: Miami Heat vs. Phoenix Suns
   gallery-date: November 2009
   team-home: Miami Heat
   team-away: Phoenix Suns
 - image_path: https://res.cloudinary.com/dqzz6rb2q/image/upload/c_limit,w_500/v1541022278/sports.5square.de/2017-05-17-vfb-stuttgart-wuerzburger-kickers/IMG_2056.jpg
   gallery-folder: /gallery/vfb-stuttgart/
   gallery-name: VfB Stuttgart
   team-home: VfB Stuttgart
 - image_path: https://res.cloudinary.com/dqzz6rb2q/image/upload/c_limit,w_500/v1541691876/sports.5square.de/dfb/20170904gernor60-5.jpg
   gallery-folder: /gallery/dfb/
   gallery-name: DFB
   team-home: DFB
---

<html class="no-js" lang="en">
<head>
	<meta content="charset=utf-8">
    <link rel="stylesheet" href="{{ "/css/selena.css" | prepend: site.baseurl }}">
</head>


    <body class="gallery">
 
	<section id="content" role="main">
		<div class="wrapper">
			
			<!-- Gallery __-->
			<div class="gallery masonry-gallery">
				
{% for image in page.images %}  	

	               <figure class="gallery-item">
                         <figure class="effect-selena">
					<header class='gallery-icon'>
		       
<a href="{{ site.url }}{{ site.baseurl }}{{ image.gallery-folder }}">
<img src="{{ image.image_path }}"></a>

					</header>	
					<figcaption class='gallery-caption'>
						<div class="entry-summary">
              <h3>{{image.team-home}}</h3>
              {% if image.team-away != null %}
              <h3>vs.</h3>
              <h3>{{image.team-away}}</h3>
              {% endif %}
							<p>{{image.gallery-date}}</p>
						</div>
					</figcaption>
                       </figure>
				</figure>
							
{% endfor %}		
				
			</div>
			
		</div><!-- END .wrapper -->
	</section>


<!-- jQuery -->    

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/retina.min.js"></script>
<!-- include Masonry -->
<script src="{{ site.baseurl }}/js/isotope.pkgd.min.js"></script> 
<!-- include mousewheel plugins -->
<script src="{{ site.baseurl }}/js/jquery.mousewheel.min.js"></script>
<!-- include carousel plugins -->
<script src="{{ site.baseurl}}/js/jquery.tinycarousel.min.js"></script>
<!-- include svg line drawing plugin -->
<script src="{{ site.baseurl }}/js/jquery.lazylinepainter.min.js"></script>
<!-- include custom script -->
<script src="{{ site.baseurl }}/js/scripts.js"></script>
<!-- Modernizr -->
 <script src="{{ site.baseurl }}/js/modernizr.js"></script>

</body></html>
